* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #d7897d;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: #00477d;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #00477d;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00589b;
  border-color: #00589b;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  font-size: 0.8rem;
  color: white;
  background-color: #00477d;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 9999px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #00589b;
  color: white;
}

.short {
  display: none;
}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 540px) {
  .btn {
    border-radius: 9999px;
    padding: 0.25rem 0.5rem;
  }

  .short {
    display: inline-block;
    font-size: 3rem;
    padding: 0 !important;
    color: #00477d;
  }

  .long {
    display: none;
  }
}

/* #8068ee #1bd6c3 */
/* #3C876A #F7EFE2 #FFAFCF */
/* #D7897D #EBDACA #00477D */
